html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* body {
  margin: 0;
  margin-bottom: 40px;
} */
footer {
  
  bottom: 0;
  width: 100%;

}

.navbar{
  border-bottom: #b2947c 4px solid;
}

.card-tour{
  padding: 5px;
  text-decoration: none;
  border: none;
}

.margen{
  margin-top: 70px;
}

.logo{
  width: 30px;
  height: auto;
}

.card-body{
  height: 210px;
  border-bottom: 1px #0f700c solid;
}


.card-tour img{
  
  width: 100%;
  height: 250px;
  box-shadow: 4px 4px 10px 0 #7f7f7f;
  
}

.card-body p{
  height: 48px;
}

.card-body:hover{
  background: linear-gradient(#b5b5b5, #fff ); 
  
}

.margen h5,h6,h4, p{
  text-align: left !important;
}


h4{
  color: #e90f0f;
  font-style: italic;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}

h4:hover{
  color: #f17676;
}

/**/

.btn-book{
  width: 100%;
}

.tour-book{
  display: flex;
}

.section-book, .section-price{
  width: 50%;
}

.btn-price{
  width: 50%;
  float: right;
  font-style: oblique;
  
}

.section-price .btn-danger:hover{
  text-decoration: none;
}